@import "tailwindcss";

:root {
  --bg-app: #ffffff;
  --bg-nav: rgba(255, 255, 255, 0.85);
  --text-main: #0f172a;    /* Slate 900 - Gelap untuk Light Mode */
  --text-muted: #475569;   /* Slate 600 */
  --border-ui: #e2e8f0;
  --accent-blue: #2563eb;
  --card-bg: #ffffff;
}

.dark {
  --bg-app: #050505;
  --bg-nav: rgba(5, 5, 5, 0.85);
  --text-main: #f8fafc;    /* Slate 50 - Terang untuk Dark Mode */
  --text-muted: #94a3b8;   /* Slate 400 */
  --border-ui: #1e293b;
  --accent-blue: #3b82f6;
  --card-bg: #0f172a;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: var(--bg-app);
  color: var(--text-main);
  margin: 0;
}